*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.cotainer{
   background: gray;
   display: inline-block
}
button{
   width:2rem;
   height: 2rem
}
p{
   width: 100%;
   height: 1.5rem;
   background: black;
}